body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
}

#background-modal {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	padding-top: 4.5rem;

	box-sizing: border-box;
	background-image: url(../../images/ocean.jpg),
		linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-blend-mode: overlay;
}

#modal-inside {
	backdrop-filter: blur(3px) grayscale(60%);
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
}

#card-holder {
	width: 80%;
	height: 50%;
	display: flex;

	margin-top: 40px;

	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;

	justify-content: space-evenly;
	box-sizing: border-box;
}

#card1 {
	background-image: url(../../images/bridge.webp);
}

#card2 {
	background-image: url(../../images/mountain.jpg);
}

#card3 {
	background-image: url(../../images/town.jpg);
}

@media screen and (max-width: 500px) {
	#modal-inside {
		height: inherit;
	}

	#card-holder {
		margin-bottom: 1rem;
	}
}
